<!doctype html>
<html>
    <head>
        <title>Backgammon</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="stylesheets/menu.css">
    </head>
    <body>
        <div id="overlay">
            <h1 class="instr" id="instructions">How to play Backgammon</h1>
            <br>
            <h3 class = "description">The object of the game is move all your checkers into your own home board and then bear them off. The first player to bear off all of their checkers wins the game.</h3>
            <br>
            <h3 class = "description">A point occupied by a single checker of either color is called a blot. If an opposing checker lands on a blot, the blot is hit and placed on the bar. Any time a player has one or more checkers on the bar, his first obligation is to enter those checker(s) into the opposing home board. A checker is entered by moving it to an open point corresponding to one of the numbers on the rolled dice.
            For example, if a player rolls 4 and 6, he may enter a checker onto either the opponent's four point or six point, so long as the prospective point is not occupied by two or more of the opponent's checkers.</h3>
            <br>
            <h3 class = "description">Once a player has moved all of his fifteen checkers into his home board, he may commence bearing off. A player bears off a checker by rolling a number that corresponds to the point on which the checker resides, and then removing that checker from the board. Thus, rolling a 6 permits the player to remove a checker from the six point.</h3>
            <br>
            <h3 class = "description">If there is no checker on the point indicated by the roll, the player must make a legal move using a checker on a higher-numbered point. If there are no checkers on higher-numbered points, the player is permitted (and required) to remove a checker from the highest point on which one of his checkers resides. A player is under no obligation to bear off if he can make an otherwise legal move.</h3>
            <br>
            <h3 class = "description">A player must have all of his active checkers in his home board in order to bear off. If a checker is hit during the bear-off process, the player must bring that checker back to his home board before continuing to bear off. The first player to bear off all fifteen checkers wins the game.</h3>
            <br>
            <h3 class = "description">As a final note, don't forget to deselct the checker if you redecide your move, Have Fun!
            <h1 class="instr" id = "instructions">Click anywhere to close the overlay</h1>
        </div>
        <img class="moving" id="white" src="stylesheets/images/whitePiece.png">
        <img class="moving" id="black" src="stylesheets/images/blackPiece.png">
        <h1 id="title">Backgammon</h1>
        <div class="center-div">
            <img class="board" src = "stylesheets/images/board.png">
            <div class="buttons">
                <a href = "http://localhost:3000/game"><img class = "btn" src = "stylesheets/images/enterGame.png"></a><br>
                <img onclick="statisticsShow()" class = "btn" id="statistics" src="stylesheets/images/statistics.png"><br>
                <img onclick="overlayShow()" class = "btn" src="stylesheets/images/instructions.png"><br>
                <h3 class ="statistic">Ongoing matches: <%= ongoing %></h3>
                <h3 class ="statistic">Matches played: <%= played %></h3>
                <h3 class ="statistic" id="visits">Your visits: 0</h3>
        
            </div>
        </div>
        <script>
            var lala = document.cookie;
            lala = lala.replace('=', ': ');
            document.getElementById('visits').innerHTML = lala;

            function statisticsShow(){
                var stats = document.getElementsByClassName('statistic');
                for(var i = 0; i < stats.length; i++){
                    stats[i].style.visibility = 'visible';
                }
                document.getElementById('statistics').onclick = statisticsHide;
            }

            function statisticsHide(){
                var stats = document.getElementsByClassName('statistic');
                for(var i = 0; i < stats.length; i++){
                    stats[i].style.visibility = 'hidden';
                }
                document.getElementById('statistics').onclick = statisticsShow;
            }

            function overlayShow(){
                var overlay = document.getElementById('overlay');
                overlay.style.display = 'block';
                overlay.onclick = overlayHide;
            }

            function overlayHide(){
                document.getElementById('overlay').style.display = 'none';
            }
        </script>
    </body>
</html>